*::selection {
  background-color: green;
}

.page_title {
  align-items: center;
  font-size: 30px;
  color: cadetblue;
}
h1{
    color: cadetblue;
    font-weight: bold;
    text-decoration: underline;
    text-decoration-color: inherit:
}

h2{
  color: brown;
}

p {
    color: black;
}

textarea:hover {
  background-color: rgba(185, 179, 179, 0.582);
}

input[type="text"]:hover {
	color : red;
}

tr:nth-child(odd) {
	color: red;
}

/* 在 p 前面加入 >> */
p::before {
  content: ">>";
}
