div.container {
    border: 3px solid black;
    display: flex;
    /* 預設是no-wrap，當縮小到比寬還小時，會自動縮小。
    設成wrap，則會被擠到下一排。 */
    flex-wrap: wrap;

}

.box {
    /* width: 100px; */
    height: 200px;
    /* 縮寫 grow shrink basic */
    flex: 1 1 200px;
}

.box1 {
    background-color: antiquewhite;
}

.box2 {
    background-color: aqua;
}

.box3 {
    background-color: aquamarine;
}

.box4 {
    background-color: azure;
}

.box5 {
    background-color: beige;
}